<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
    <style> @import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap'); </style>
    
</head>

<body>
    <div class="box" id="heading">
        <h1> <%=listTitle%></h1>
    </div>
   
    <div class="box"> 
       

    <%     newlistitems.forEach(item => {   %>
           <form action="/delete" method="post">
            <div class="item">
                <input type="checkbox" name="checkbox" value=<%= item._id %>  onChange="this.form.submit()"> <p> <%= item.name%> </p>
            </div>
            <input type="hidden" name="listname" value=<%= listTitle %> > </input>
           </form>

            
   <%     }); %> 
       

         <form class="item" action="/" method="post">
            <input type="text" placeholder="Add item" name="item" autocomplete="off" >
            <button type="submit" name="list" value=<%=listTitle%>>+</button>
        </form>

    </div>
   
</body>
<footer> <p style="color:white">Copyright 2022 The PaperWork </p></footer>
</html>